body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-align: right;
}

.form-text{
    text-align: left !important;
}

.card-header{
    text-align: left;
}